body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem; }

.navbar-brand {
  font-family: "Lobster", cursive;
  font-size: 40px; }

.nav-link {
  border-bottom: 2px solid white;
  font-size: 20px; }

.nav-link:hover {
  border-bottom: 2px solid #ffb347; }

.pill-button {
  /* background-color: #ffb347; */
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 10px 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px; }

.home .header-info h2 {
  font-size: 42px;
  font-weight: 600;
  line-height: 65px;
  margin-top: 10px;
  margin-bottom: 10px; }

.social-icon li {
  border: none; }

.social-icon li a {
  color: #000; }

.list-group-item {
  border: none;
  padding-bottom: 0; }

.list-group-item a {
  color: grey; }

.flip-horizontally {
  transform: scaleX(-1); }

/*
ff9505
ff554e
*/
.orange-gradient {
  background-image: linear-gradient(to right, #ff554e, #ffb347); }

.orange-gradient-text {
  background: -webkit-linear-gradient(#ff554e, #ffb347);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.no-border {
  border: none; }

.box-shadow {
  -webkit-box-shadow: 0 1px 10px #bbb;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 1px 10px #bbb;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 1px 10px #bbb;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }
